 <h1>hello Data binding </h1>


 <label>Enter Name:</label>
 <!-- <input type="text" #name (keypress)="but(name.value)"/> -->
 <br>
 <br>
 <input type="text" [(ngModel)]="uname"/>

 <!-- <input type="text" [value]="uname" #iname (keyup)="but(iname.value)"/> -->

{{uname}}


<!-- 
<h3 [style.background]="ubg">ghellooooooooooooo guys: how r u </h3>

<div>{{uname}}</div>

<div [innerHTML]="uname"></div> --> 

<!-- 
<p class="a">hello</p>
<p class="b">hello</p>
<p class="c">hello</p>
<p class="d">hello</p> -->
<!-- <p [class]="apply">hello</p>

<h2 [style.background]="ubg"> event handling</h2>
<button (click)="but()">change</button> -->